body {
    background-color: #2B6446 ;
    color: #2d3436;
}

.custom-nav {
    background-color: white;
    box-shadow: 0 2px 10px rgba(0,0,0,0.05);
}

.logo-text {
    font-weight: 800;
    color: #2B6446 !important;
    letter-spacing: 1px;
}

.hero-section {
    background: linear-gradient(rgba(13, 110, 253, 0.05), rgba(13, 110, 253, 0.1)), url('https://via.placeholder.com/1200x400');
    background-size: cover;
    padding: 100px 0;
}

.hero-title {
    font-size: 3.5rem;
    font-weight: 700;
    margin-bottom: 20px;
}

.price-card {
    border: none;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.05);
    transition: all 0.3s ease;
}

.price-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 15px 30px rgba(0,0,0,0.1);
}

.price-card.featured {
    border: 2px solid #2B6446;
}

.price-tag {
    font-size: 2.5rem;
    font-weight: 800;
    color: #2B6446;
    margin: 20px 0;
}

.price-tag span {
    font-size: 1rem;
    color: #636e72;
}

.btn-primary-custom {
    background-color: #2B6446;
    color: white;
    border-radius: 10px;
    padding: 12px;
    font-weight: 600;
}

.btn-custom-lg {
    background-color: #2B6446;
    color: white;
    padding: 15px 40px;
    border-radius: 50px;
    font-weight: bold;
    text-decoration: none;
}

.features-list {
    list-style: none;
    padding: 0;
    margin-bottom: 30px;
    text-align: left;
}

.features-list li::before {
    content: "✓";
    color: #2B6446;
    font-weight: bold;
    margin-right: 10px;
}

.price-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 2px solid transparent;
    transition: all 0.4s ease;
    cursor: pointer;
    background: #fff;
    height: 100%; 
}

.price-card:hover {
    transform: translateY(-15px);
    border-color: #2B6446;
    box-shadow: 0 20px 40px rgba(13, 110, 253, 0.15); 
}

.price-card:hover h3 {
    color: #2B6446;
    transition: 0.3s;
}

.price-card:hover .btn-outline-primary {
    background-color: #2B6446;;
    color: white;
}

.price-card.featured {
    background-color: #ffffff;
    position: relative;
    overflow: hidden;
}

.badge-hit {
    position: absolute;
    top: 15px;
    right: -30px;
    background: #ff4757;
    color: white;
    padding: 5px 35px;
    transform: rotate(45deg);
    font-size: 0.8rem;
    font-weight: bold;
}
/*trial*/
.price-card.free-trial {
    border: 2px solid #2B6446;
}
.free-trial .price-tag {
    color: #2B6446;
}
.btn-free {
    background-color: #2B6446;
    color: white;
    border: none;
    transition: 0.3s;
}
.btn-free:hover {
    background-color: #0f4726;
    color: white;
    box-shadow: 0 5px 15px rgba(46, 204, 113, 0.3);
}
.free-trial:hover {
    border-style: solid;
    border-color: #6c757d;
}

.btn-outline-secondary:hover {
    background-color: #6c757d;
    color: white;
}
.card-body {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}